body{
background-color:#A0FF76 !important;
}
#homeheader{
font-family:'Libre Baskerville', 'serif';
font-style:italic;
margin: auto 0;
background-color:#A0FF76;
width:50%;
color:#ffffff;
}
#whereartis{
font-family:'Libre Baskerville', 'serif';
width:50%;
float:right;
color:#ffffff;
text-align:right;
}
.c_header{
color:#ffffff;
}
#i_paintings{
width:100%;
margin: auto 100;
padding-top: 25px;
}
.paintings{
width:40%;
height:350px;
}
#i_paintings img{
width: 100%;
float:left;
margin-right:100px;
}
#artisthead h1{
color:#ffffff;
}
.flag{
width:15%;
}
.thumbnail{
background-color:#65B236 !important;
}

#404{
width:100%;
color:#FFFFFF;
}
#404 h1{
color:#ffffff;
}
#404 h2{
color:#ffffff;
}
#404 p{
color:#ffffff;
}
#404 img{
width:200px;
height:200px;
float:right;
}
