<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, inital-scale=1">
<link href="{{url_for('static',filename='bootstrap-3.3.5-dist/css/bootstrap.min.css')}}" rel="stylesheet"/>
<link href="{{url_for('static',filename='style.css')}}" rel="stylesheet"/>
<script src="{{ url_for('static',filename='bootstrap-3.3.5-dist/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static',filename='cw1.js')}}"></script>
<title>Artists</title>
</head>
<body>
<div id="artisthead">
<h1>Artist's</h1
</div>
<p>Through out the history of our work there have been many artist, please
feel free to look through the following list and learn a small bit about them,
or click on the links to learn more about them or view some of their
paintings</p>
<div id="painter">

<div class="">

<img src="">
</div>
</div>
</body>
</html>
