<!DOCTYPE html>
<html lang="en">
<head>
<title>Century</title>
<link href="{{ url_for('static', filename='images/frame.png')}}" rel="icon" />
<link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
<link href="{{ url_for('static', filename='bootstrap-3.3.5-dist/css/bootstrap.min.css')}}" rel="stylesheet" />
<script src="{{url_for('static', filename='js/jquery-3.2.1.js')}}"></script>
<script src="{{ url_for('static', filename='bootstrap-3.3.5-dist/js/bootstrap.min.js')}}"></script>
</head>
<body>
<h1>Century</h1>
<h2>Art style has evolved over the centurys from early roman to the more modern perspective art</h2>
<div id="year" >

 <div class="col-md-4">
  <div class="thumbnail">
  <a href="/century/19th">
   <img src="{{url_for('static', filename='images/19th.png')}}" alt="19th">
   </a>
  <div="caption">
  <p>The 19th Century</p>
 </div>
</div>
</div>

<div class="col-md-4">
 <div class="thumbnail"><a href="/century/18th">
  <img src="{{url_for('static', filename='images/18th.png')}}" alt="18th">
  </a>
 <div class="caption">
 <p>The 18th Century</p>
 </div>
</div>
</div>

<div class="col-md-4">
 <div class="thumbnail"><a href="/century/15th">
  <img src="{{url_for('static', filename='images/15th.png')}}" alt="15th">
  </a>
  <div class="caption">
  <p> The 15th Century</p>
  </div>
  </div>
 </div>
</div> 
</body>
</html>

