<!DOCTYPE html>
<html lang="en">
<head>
<title>Italian Artist</title>
<link href="{{url_for('static',filename='images/frame.png')}}" rel="icon"/>
<link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet"/>
<script src="{{url_for('static',filename='js/jquery-3.2.1.js')}}"></script>
<script
src="{{url_for('static',filename='bootstrap-3.3.5-dist/js/bootstrap.min.js')}}"></script>
<link href="{{url_for('static',filename='bootstrap-3.3.5-dist/css/bootstrap.min.css')}}" rel="stylesheet"/>
</head>
<body>
<h1 class="c_header">Italy</h1>
<p>Home to many famous citys and landmarks, Italy has a famous and rich culture
influenced largely by other cultures and religon, italy has a very unqiue take
on the art largely thanks to christinaty and the renaissance period of time</p>
<img src="{{url_for('static', filename='images/italy.png')}}" alt="The italy
flag" class="flag"/>
<h2 class="c_header">Painters</h2>
<p>Here is some of the famous painters that have been born in italy</p>
<div id="s_painters">
 <div class="col-md-4">
  <div class="thumbnail">
   <a href="artist/DaVinci">
    <img src="{{url_for('static', filename='images/leonardo.jpg')}}" alt="Leonardo Da Vinci"/>
   </a>
   <div class="caption">
    <p>Leonardo Da Vinci</p>
   </div>
  </div>
 </div>
</div>
</body>
</html>
