<!DOCTYPE html>
<html lang="en">
<head>
<title>Spain Artist</title>
<link href="{{url_for('static',filename='images/frame.png')}}" rel="icon"/>
<link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet"/>
<script src="{{url_for('static',filename='js/jquery-3.2.1.js')}}"></script>
<script
src="{{url_for('static',filename='bootstrap-3.3.5-dist/js/bootstrap.min.js')}}"></script>
<link href="{{url_for('static',filename='bootstrap-3.3.5-dist/css/bootstrap.min.css')}}" rel="stylesheet"/>
</head>
<body>
<h1 class="c_header">Spain</h1>
<p>Home to many famous citys and landmarks, spain has a famous and rich culture
influenced largely by other cultures and religon spain has a very unqiue take
on the art world</p>
<img src="{{url_for('static', filename='images/spain.png')}}" alt="The spainish
flag" class="flag"/>
<h2 class="c_header">Painters</h2>
<p>Here is some of the famous painters that have been born in spain</p>
<div id="s_painters">
 <div class="col-md-4">
  <div class="thumbnail">
   <a href="artist/picasso">
    <img src="{{url_for('static', filename='images/pablo.jpg')}}" alt="Pablo Picasso"/>
   </a>
   <div class="caption">
    <p>Pablo Picasso</p>
   </div>
  </div>
 </div>
</div>
</body>
</html>
